<!-- Static navbar -->
   {% load static %}
    <nav class="navbar navbar-default navbar-main">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">KRAFT</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="testbuttons"><a href="/">ДОМОЙ</a></li>
            <li class="testbuttons"><a href="{% url 'about'  %}">О НАС</a></li>
            <li class="testbuttons"><a href="{% url 'adresses'  %}">ГДЕ МЫ</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
                <div class="shop-toggle">
                    <span>Крафт</span>
                    <label class="switch">
                        <input type="checkbox" id="shopToggle">
                        <span class="slider round"></span>
                    </label>
                    <span>Мама Крафт</span>
                </div>
            </li>
            <li>
                <div class="basket-container">
                    <a href="{% url 'checkout'  %}" class="cart-button">🛒 Корзина <span id="basket_total_amount"></span><span id="basket_total_nmb">
                        {% if products_total_nmb %}
                            ({{ products_total_nmb }})
                        {% else %}
                            (0)
                        {% endif %}
                    </span></a>
                    <div class="basket-items hidden">
                        <ul class="">
                            {% for product_in_basket in products_in_basket %}
                                <li>
                                    <div class="item-row">
                                        {{ product_in_basket.product.name }} | {{ product_in_basket.nmb }}  шт.|
                                        по {{ product_in_basket.price_per_item }} ₽
                                        <a class="delete-item" href="" data-product_id="{{ product_in_basket.id }}">
                                            <img alt="delete" src="{% static 'static_dev/img/trashcan.png' %}" class="dltbutton">
                                        </a>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>