{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="boxik brdtext">
                <p>
                    <h3>
                        Первый магазин оффициально открылся 5 мая 2018 года.
                    </h3>
                </p>
                <img alt="KRAFT" src="{% static 'static_dev/img/kraft.webp' %}" class="img-about">
                <p>
                    <h3>
                        Как это было:
                    </h3>
                    <h4>
                        Зашли в магазин разливного пива от пивоварни «Таганный Рог» и были приятно удивлены тем,
                        что несмотря на то, что кранов было всего 12, все сорта были исключительно этой пивоварни и продавец преподал все так,
                        что было ощущение, что с нами говорит не продавец, а сомелье. Разнообразие было от простого лагера, до Русского Имперского стаута.
                        Это был тот формат, который хотелось бы повторить в нашем городе. Что когда ты спрашиваешь что-то в чешском или немецком формате,
                        тебе не тупо кричат: «Вы что, не видите — это чешское, а это немецкое!?». При чем выражение продавца явно давало понять, что надо либо брать,
                        либо валить. Поэтому начали разбираться, читать, искать тонкости и особенности. Проанализировав предлагаемы франшизы поняли,
                        что это тоже чисто коммерческий подход. А пиво – это искусство.
                    </h4>
                </p>
                <p>
                    <h3>
                        Контроль качества
                    </h3>
                    <h4>
                        Все пиво сертифицировано ЕГАИС и "честным знаком", а хранится пиво в специальной холодильной камере в коробках на полках выше уровня пола.
                        А перед установкой новой кеги кран тщательно промывается.
                    </h4>
                </p>
                <img alt="KRAFT" src="{% static 'static_dev/img/fridge.jpg' %}" class="img-about">
            </div>

        </div>
    </div>
{% endblock %}