{% load static %}
<div class="col-lg-3">
    <div class="product-item">
        <div class="imgbox">
            <a href={% url 'product' product_image.product.id %}>
                <img src="{{ product_image.image.url }}" class="img-responsive">
            </a>
        </div>

        {% if product_image.product.discount %}
            <div class="discount-container">
                <span>{{ product_image.product.discount }}%</span>
            </div>
        {% endif %}

        <h4>{{ product_image.product.name }}</h4>
        <p>
            {{ product_image.product.short_description }}
        </p>
        <p>
            ABV {{ product_image.product.alcohol }} %
        </p>
        <p>
            IBU {{ product_image.product.IBU }}
        </p>
        <div>
            {{ product_image.product.price }} ₽
        </div>
        <div class="add-to-card-btn">
            <button type="submit" id="submit_btn" class="btn btn-success btn-buy"
                data-product_id="{{ product_image.product.id }}"
                data-name="{{ product_image.product.name }}"
                data-price="{{ product_image.product.price }}"
                data-nmb="1"
            >{% csrf_token %}
                Добавить в корзину
            </button>
        </div>
    </div>
</div>