html, body{
    height: 100%;
    max-height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #5c5c5b;
    color: white;
    background-image: url('/static/static_dev/img/background-main.png');
    background-size: cover; /* Растягивает изображение, сохраняя пропорции */
    background-position: center; /* Центрирует изображение */
}

.navbar{
    margin-bottom: 0;
}

.wrapper{
    min-height: 100%;
}

.wrapper-content{
    overflow: auto;
    padding-bottom: 180px; /* must be same height as the footer */
}

.footer{
    position: relative;
    margin-top: -180px; /* negative value of footer height */
    height: 180px;
    clear: both;
    background-color: #323232;
}

.section-top{
    margin-bottom: 20px
}

.product-description-tabs{
    padding: 10px;
}

.section{
    padding: 50px 0;
}

.section h1{
    margin-bottom: 40px;
}

.product-item{
    height: 450px;
    background-color: #979595;
    border: 2px solid #4c4c4c;
    border-radius: 10px;
    position: relative;
    padding: 0 0 10px 0;
    text-align: center;
    margin-bottom: 10px;
    color: black;
}

.product-item img{
    height: 250px;
    background-color: #9a9696;
    border: 1px solid lightgrey;
    border-radius: 10px;
    position: relative;
    padding: 0 0 0 0;
    text-align: center;
    margin-bottom: 10px;
    color: black;
    object-fit: cover;
}

.add-to-card-btn{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.discount-container{
    position: absolute;
    top: 30%;
    background: #55e073;
    width: 30%;
    color: white;
    font-weight: 700;
    padding: 3px;
}

.section-delivery{
    height: 300px;
    background-color: #303030;
    text-align: center;
    color: white;
}

.product-image-item{
    padding: 5px;
    margin-bottom: 5px;
}

.navbar-top{
    min-height: 10px;
    height: 20px;
    background-color: #363535;
    border: none;
    border-radius: 0;
    color: white;
}

.navbar-main{
    background-color: #363535;
    border: none;
    border-radius: 0;
    color: white;
}

.basket-container{
    position: relative;
    width: 450px;
    padding: 18px 10px 0 10px;
}

.basket-items{
    position: absolute;
    top: 50px;
    width: 100%;
    background-color: #555555;
    z-index: 10;
    padding: 10px;
    border: 2px solid #4c4c4c;
    border-radius: 10px;
}

.form-error{
    color: red;
}

.img-responsive{
    width: 100vw;  /* Растягиваем на всю ширину экрана */
    max-height: 400px; /* Ограничение по высоте */
    object-fit: cover; /* Не обрезает, а сжимает */
    background-color: #000; /* Задай цвет фона, если изображение меньше */
}

.shop-toggle {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 200px 0 50px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(20px);
}

.form-control{
    background: #333;
    color: #fff;
}

.product-in-basket-nmb{
    background: #333;
    color: #fff;
}

.dltbutton{
    width: 20px;
    height: 20px;
    border: 1px black;
    border-radius: 1px;
    right: 25px;
    position: absolute;
}

.cart-button {
    background-color: #5cb85c; /* Цвет, как у других кнопок */
    color: black;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
}

.cart-button:hover {
    background-color: #293c29; /* Темнее при наведении */
    text-decoration: none;
    color: white;
}

.item-row{
    border: 2px solid #232323;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    margin: 5px;
}